.cat2 {
  margin-left: 20px;
  margin-right:20px;
  margin-bottom: 30px;
}

#sure {
    margin-left: 95px;
    color: blue;
}

.PuzzleSub{
    margin-left: 20px;
    color: blue;
    padding-top: 3px;
}

#emptySpace {
    padding: 30px;
}

.crossword-nav{
    box-shadow: 1px 3px 7px rgb(196, 196, 196);
}

.right {
    color: #2e357dff;
    position: absolute;
    right:15px;
    top: 75px;
}

.right:hover{
    color: rgb(20, 4, 99);
}

.c-buttons{
    width: 200px;
    height:100px
}

#c-b{
    margin-top: 50px;
}

.fa-arrow-circle-o-down{
    position: absolute;
    top: 130px;
    left: 110px;
    color: #2e357dff;
}
#all-puzzles{
    margin-top: 20px;
}

.game-button-active {
    margin: 0;
    margin-left: 25px;
    margin-top: 20px;
    display: inline;

}

.game-button-active:hover{
    background-color: rgb(16, 150, 177);
}

.game-button-passive{
    background-color: rgb(96, 102, 107);
    color: rgb(153, 153, 153);
    margin-left: 23px;

    display: inline;

}
.game-button-passive:hover{
    box-shadow: none;
    cursor: default;
}

#PracticeTitle {
    color: #003eaa;
    margin-bottom: 5em;
}