
.fa-th,
.fa-map-marker,
.fa-book,
.fa-user {
	position: relative;
	color: #2e357dff;
	margin-left: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.fa-home {
	color: #2e357dff;
	margin-left: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-right: 6em;
}

#navbardiv {
	background-color: rgba(253, 243, 236, 0.725);
}


#right-icons {
	position: absolute;
	top: 3px;
	right: 15px;
}

.rf:hover, .fa-home:hover{
	color: rgb(3, 14, 70);
	cursor:pointer;
}